@model UpdateProductDto

<div class="row">
    <h3>Изменить</h3>
    <form asp-action="Edit" asp-controller="Product" method="post" class="form-horizontal" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"><b>Названия</b></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price"><b>Цена</b></label>
            <div class="col-md-5">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Img"><b>Фото</b></label>
            <div class="col-md-5">
                <input asp-for="Image" type="hidden" />
                <input type="file" asp-for="Img" class="form-control" accept="image/*" />
                <span asp-validation-for="Img"></span>
            </div>
        </div>
        <input asp-for="Image" type="hidden"/>
        <div class="form-group">
            <label asp-for="CategoryId"><b>Категория</b></label>
            <select class="form-control" name="CategoryId">
                @foreach (var x in ViewBag.Categories)
                {
                    <option value="@x.Id">
                        @x.Name
                    </option>
                }
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить" />
        <a asp-action="GetAll" asp-controller="Product" class="btn btn-secondary">Отменить</a>
    </form>
</div>